.collapsableTicket{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97.6%;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px; 
    position: relative;
}
.icon{
    position: absolute;
    right:-0.5rem !important;
}
.title{
    margin-left: 0.8rem;
    font-family: Manrope;
    font-size: 16px;
    width: 80%;

}
.descrption{
    margin-left: 1rem;
    font-family: Manrope;
    font-size: 16px;
}