.eventDetailsContainer{
    display: flex;
    overflow: auto;
    flex-direction: column;
    height: auto;
    width: 70%;
    gap:2rem;
    margin-left: 3rem;
    /* flex: 1; */
}
.imageContainer{
    padding: 0.5rem;
    border-radius: 20px;
    background: white;    
    box-shadow: 4px 2px 15px rgba(0, 0, 0, .15);
    margin: 0.5rem ;
    display: flex;
    align-items: center;
    justify-content: center !important;
}
.posterImage{
    width: 100%;
    height:auto;
    border-radius: 20px;
    margin-left: 0px;
}
.container{
    text-align:left;
    margin-left: 1rem;
}
.decriptionText{
    margin-left: -2.5rem;
}

.custom-table {
    width: 95%;
    border-collapse: collapse;
    margin-top: 1rem;
    margin-left: 2.5rem;
}

.custom-table th,
.custom-table td {
    border: 1px solid black;
    padding: 0px !important;
    text-align: center;
    line-height: 10px;
}

.custom-table th {
    font-weight: bold;
}

.image-resize-container img {
    max-width: 90%;
    height: auto;
    display: block;
}

iframe {
    width: 94%;
    height: auto;
    aspect-ratio: 16/7;
    margin-left: 2.5rem !important; 
}
.ticketContainer{
    /* background: #f6f6fc; */
    border-radius: 10px;
    padding: 7px;
    margin: auto;

}
.collapsableTicketContainer{
    margin: 1rem;
    width: 94%;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.speakerContainer{
    display: flex;
    gap:2rem
}
.sponsor_img{
    width: 25%;
    height: 120px;
    padding: 0px;
    border-radius: 5px;
    border: .8px solid#cacaca;
}
.category{
    font-family: Manrope;
    position: relative;
}
.category>h2{
    text-transform: uppercase;
    font-weight: 550;
    font-size: 1.5rem;
    width: 200px;
}
.divider{
    border:1.5px solid rgb(215, 211, 211);
    width: 80%;
    position: absolute;
    right:1%;
    top:20%;
}
.category_img{
    width: 25%;
    height: 120px;
    padding: 0px; 
    border-radius: 5px;
}