.img_url{
    width: 100%;
    height: 160px;
    margin-left: 0;
}
.imgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgsContainer{
    flex: 1;
    text-align: left;
}
.imgsContainer>img{
    width: 37px;
    margin-left: 0;
    height: 37px;
    position: relative;
}

.Card{
    background: #fff;
    border-radius: 5px;
    border: .8px solid#cacaca;
    width: 300px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description{
    font-weight: 600;
    font-size: 1.25rem;
    color: #161616;
    font-family: Manrope;
}
.calender_details{
    display: flex;
    align-items: center;
    gap:0.6rem;
    font-family: Manrope;
    font-weight: 500;
    font-size: 1.1rem;
}


.view_sections{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}